
<div class="discount">
    <img style="width: 110px; margin-top: -39px;" src="assets/images/discount.svg">
    <div class="container" style="height: 100px">
        <div class="row d-flex flex-column justify-content-center">
            <h6>ЦЬОГО ТИЖНЯ НА ВСЕ</h6>
            <span class="discount">-20%</span>
        </div>
    </div>
</div>

<!-- місце для віджету -->
<div id="liqpay"></div>
<!-- піключаємо скрипт -->
<script	src="//static.liqpay.ua/libjs/checkout.js">
</script>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>